
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
		<h2> Search  News Articles</h2>
           <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="  search-query form-control"  placeholder="Search Article"  #key/>
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button" (click)="get(key.value)">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
	</div>
</div>
<br>









<div class="container">
  <div class="row">
    <!-- <div *ngIf="isSaved">
      <div class="alert alert-success" role="alert">
        This is a success alert—check it out!
      </div>
    </div> -->
    <!-- <div class="col-lg-1 col-md-1"></div> -->
    <div *ngIf="this.service.status">

    <div class="col-lg-6  col-sm-12" *ngFor="let article of articleList">

      <div class="card text-center" >
        <div class="card-header" id="article">
          {{article.title}} 

        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4 sm-12">
              <img src="{{article.urlToImage}}" style="width:70%;height:98%">
            </div>
            <div class="col-lg-8 sm-12">

              <h6 class="card-text">{{article.description}}</h6>
              <p class="card-text">{{article.content}}</p>
            </div>


          </div>
          <!-- <a href= "http://www.sys-con.com/node/4371031" class="btn btn-primary">Go somewhere</a>-->
        </div>
        <div class="card-footer text-muted">
          <p class="card-title">Author:{{article.author}} </p>, {{article.publishedAt}}
        </div>
        <button type="button" class="btn btn-primary " (click)="favouriteArticle(article)">favourite</button>

      </div>
     


   


      <div *ngIf="isSaved">
          <div *ngIf="!savedArticle.articleExist && currentArticleTitle==article.title">
            <div class="alert alert-success" role="alert">
              sucessfully added
            
            </div>
          </div>
          <div *ngIf="savedArticle.articleExist && currentArticleTitle==article.title">
            <div class="alert alert-danger" role="alert">
              Already Exist in your favorites!
              
            </div>
          </div>
        </div>


    </div>
  </div>
  <div *ngIf="!this.service.status">

      <div class="alert alert-danger" role="alert">
          Sorry you do not have permission to see articles
          
        </div>
    </div>

</div>
</div>